
<%= form_for @profile do |f| %>

  <div class="form-group">
    <%= f.label :username, "顯示名稱" %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "介紹一下自己吧！越詳細越容易收到 Deal 邀請喔！" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <p>
    <%= f.submit '更新', class: "btn btn-default"%>
  </p>

<% end %>