<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
    <div class="container">
      <div class="profile-main" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
        <div class="row">
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <div id="username" style="margin: 30px;">
              <% if current_user == @profile.user %>
              <%= link_to '編輯個人資料', edit_profile_path(@profile), class: "btn btn-primary", style: "float: right;" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 40px;">
          <div class="col-sm-6">
            <div class="user-photo">
              <% if @profile.photo_updated_at %>
                <%= image_tag (@profile.photo.url(:medium)) %>
              <% else %>
                <%= image_tag ("http://graph.facebook.com/#{@profile.user.fb_uid}/picture?width=999") %>
              <% end %>
              <h1 style="text-align: center;"><%= @profile.username %></h1>
              <p style="text-align: center;">
                <% if @profile.location %>
                  <%= @profile.location.city %>
                <% end %>
              </p>
              <% if current_user && current_user != @profile.user %>
              <!-- Button trigger modal -->
                <div style="text-align: center;">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">訊息</button>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">想跟她說什麼呢</h4>
                        </div>
                        <div class="modal-body">
                        <%= form_for Comment.new, url: profile_comments_path(@profile) do |f| %>
                          <div class="form-group">
                            <%= f.text_area :content, class: "form-control" %>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <%= f.submit "回覆", class: "btn btn-default"%>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= link_to favorite_profile_path(@profile), method: :post, class: "btn", id: "favorite", remote: true do %>
                      <% if current_user.favorite_profile?(@profile) %>
                        <span class="btn btn-primary">取消收藏</span>
                      <% else %>
                        <span class="btn btn-default">收藏</span>
                      <% end %>
                      <span class="badge"><%= @profile.favorited_users.size %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6" id="about-me">
            <div class="row">
              <div class="col-sm-12">
                <h1>哈囉，關於我：</h1>
                  <% if @profile.description %>
                    <p><%= simple_format(@profile.description) %></p>
                  <% else %>
                    <h3>自我介紹尚未編輯</h3>
                  <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4" >
                  <a href="#wanted" class="scroll">
                    <div class="hvr-pulse-grow" id="skills-want">
                      <h3>我想學</h3>
                    </div>
                  </a>
              </div>
              <div class="col-xs-4">
                <a href="#have">
                  <div class="hvr-pulse-grow" id="skills-have">
                    <h3>我擅長</h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="#comments">
                  <div class="hvr-pulse-grow" id="publiccomment">
                    <h3>留言給我</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <hr id="wanted-top">
  <div class="row skills-want" id="wanted">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <div id="username" style="margin: 30px;">
              <% if current_user == @profile.user %>
              <%= link_to ' + 修改分類', edit_profile_path(@profile), class: "btn btn-primary", style: "float: right;" %>
              <% end %>
            </div>
          </div>
        </div>
        <h1>我想學</h1>
          <% if @profile.categories %>
            <% @profile.categories.each do |c| %>
              <div class="category-box">
                <%= image_tag (c.category_icon.url) %>
              </div>
            <% end %>
          <% else %>
            <h2>尚未編輯</h2>
          <% end %>
      </div>
    </div>
  </div>
  <hr id="have-top">
  <div class="row skills-have" id="have">
    <div class="col-sm-12">
      <div class="container">
          <div class="row">
            <div class="col-sm-12" style="margin-bottom: 20px;">
              <div id="username" style="margin: 30px;">
                <% if current_user == @profile.user %>
                <%= link_to ' + 新增擅長技能', edit_profile_path(@profile), class: "btn btn-primary", style: "float: right;" %>
                <% end %>
              </div>
            </div>
          </div>
        <div id="all-skills">
          <h1>我擅長</h1>
          <% if @profile.user.skills %>
            <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
              <% @profile.user.skills.includes(:pictures).each do |s| %>
              <div class="box">
                <div>
                  <%= link_to skill_path(s) do %>
                    <% if s.pictures.last %>
                      <div class="skill-img">
                      <%= image_tag (s.pictures.first.image.url(:medium)) %>
                      </div>
                    <% end %>
                      <h5 class="skill-name" style="display: inline-block;"><strong><%= s.name %></strong></h5>
                      <span><%= t( time_ago_in_words(s.updated_at) ) %>前</span>
                      <p><%= s.description %></p>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
          <% else %>
            <h2>尚未編輯</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr id="comments-top">
  <div class="row publiccomments" id="comments" >
    <div class="col-sm-12">
      <div class="container">
        <h2>留言給我</h2>
        <div id="publiccomments">
          <%= render 'publiccomments/publiccomment' %>
        </div>
      </div>
    </div>
  </div>
</div>









