<p id="notice"><%= notice %></p>

<h1>Listing Admin Skills</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Requirement</th>
      <th>Liked Users</th>
      <th>Created Time</th>
      <th>Updated Time</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_skills.each do |admin_skill| %>
      <tr>
        <td><%= admin_skill.name %></td>
        <td><%= admin_skill.description %></td>
        <td><%= admin_skill.requirement %></td>
        <td><%= admin_skill.liked_users_count %></td>
        <td><%= admin_skill.created_at %></td>
        <td><%= admin_skill.updated_at %></td>
        <td><%= link_to 'Show', admin_skill %></td>
        <td><%= link_to 'Edit', edit_admin_skill_path(admin_skill) %></td>
        <td><%= link_to 'Destroy', admin_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill', new_admin_skill_path %>