<h3>訊息</h3>
<% if @comments_group_by_profile %>
  <% @comments_group_by_profile.each do |p, comments| %>
    <% if p == @profile %>
        <div class="panel all-the-comments" style="margin-bottom: 0; padding-bottom: 0;">
          <div class="panel-heading" style="background-color: #41569C; color: white;">
            <h3 class="panel-title" style="background-color: #41569C;">
              <%= link_to profile_path(p) do %>
                <%= image_tag (p.photo_url), style: "width: 25px; height: 25px; display: inline; border-radius: 100%;" %>
                <%= p.username %>
              <% end %>
            </h3>
            <% @p = p %>
          </div>
          <div class="panel-body">
            <% comments.each do |c| %>
              <% if ( c.profile == @p && c.user == current_user ) || ( c.profile == current_user.profile && c.user == @p.user ) %>
                <% if c.user == current_user %>
                  <div class="row">
                    <div class="col-sm-12">
                      <span class="message pull-right user-message">
                        <%= c.content %>
                      </span>
                      <div class="pull-right" style="display: block; margin-top: 5px; font-size: 10px;"><%= time_ago_in_words(c.created_at) %>前</div>
                    </div>
                  </div>
                <% elsif %>
                  <div class="row">
                    <div class="col-sm-12">
                      <%= image_tag (c.user.profile.photo_url), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
                      <div class="message" style="background-color: white;">
                        <%= c.content %>
                      </div>
                      <span style="font-size: 10px;"><%= time_ago_in_words(c.created_at) %>前</span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>


        </div>
    <% end %>
  <% end %>
<% end %>

<script>
  var height = 0;
  $('.panel-body .row').each(function(i, value){
    height += parseInt($(this).height());
  });

  height += '';

$('.panel-body').animate({scrollTop: height}, 10);
</script>