<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>聯絡過的對象</h3>
      <% if @profiles %>
        <% @profiles.each do |p| %>
          <div style="margin: 20px;">
            <%= link_to profile_comments_path(current_user.profile, :id => p) do %>
              <% if p.photo_updated_at %>
                <%= image_tag (p.photo.url), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
              <% else %>
                <% @p = p %>
                <%= image_tag ("http://graph.facebook.com/#{@p.user.fb_uid}/picture?width=999"), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
              <% end %>
            <%= link_to profile_comments_path(current_user.profile, :id => p), remote: true do %>
              <h4><%= p.username %></h4>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-9">
      <div id="private_comments">
        <%= render 'comments', :locals => { :comments_group_by_profile => @comments_group_by_profile, :profile => @profile } %>
      </div>
    </div>
  </div>
</div>



