
<% if @commented_profiles != nil %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">留過言的對象：</h3>
    </div>
    <div class="panel-body">
      <% @commented_profiles.each do |p| %>
        <%= link_to p.username, profile_path(p) %>
      <% end %>
    </div>
  </div>
<% end %>

留言紀錄：
<% @commented_profiles.each do |p| %>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= p.username %></h3>
  </div>
  <div class="panel-body">
    <% Comment.where(profile_id: p).where(user_id: current_user.id).order("id DESC").each do |c| %>
    <div class="row">
      <div class="col-sm-6">
        <%= c.profile.username %>
      </div>
      <div class="col-sm-6">
        <%= c.content %>
      </div>
    </div>
    <% end %>
  </div>
  <%= form_for Comment.new, url: profile_comments_path(p) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: "form-control" %>
      <%= f.submit "回覆", class: "btn btn-default"%>
    </div>
  <% end %>
<% end %>
</div>
