<div class="container-fluid banner">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <%= link_to skills_path do %>
          <%= image_tag ("skillpark.png") %>
        <% end %>
      </div>
      <h3>來交換彼此生命中的故事吧！</h3>
    </div>
  </div>
</div>

<div class="all-skills">
  <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
  <% @skills.each do |s| %>
  <div class="box">
    <div>
      <%= link_to skill_path(s) do %>
        <% if s.pictures.exists?%>
        <div class="skill-img">
        <%= image_tag (s.pictures.last.image.url) %>
        </div>
        <% else %>
        無上傳圖片
        <% end %>
        <h5 class="skill-name"><strong><%= s.name %></strong></h5>
        <p><%= s.description %></p>
      <% end %>
    </div>
    <hr>
    <div class="skill-box-author">
      <%= image_tag (s.user.profile.photo.url), style: "width: 20px; display: inline; border-radius: 100%;" %>
      <h6 ><%= link_to s.user.profile.username, profile_path(s.user.profile)%></h6>
      <p>
        <% if s.user.profile.location %>
          <%= s.user.profile.location.city %>
        <% else %>
          ?地點？
        <% end %>
      </p>
    </div>

  </div>
  <% end %>
  </div>
</div>
