<div class="container-fluid banner">
  <div class="row">
    <div class="col-sm-12">
        <%= link_to skills_path do %>
          <%= image_tag ("skillpark.png") %>
        <% end %>
      <h3>歡迎入園！來交換彼此生命中的故事吧！</h3>
      <p>技能公園是一個專屬女性的技能交換平台，我們希望給每一位女孩一個安全有趣又免費的交換空間，除了分享自己的才藝外，也分享妳們對生活的熱情！讓技能公園陪妳一起成長！</p>
    </div>
  </div>
</div>

<div class="all-skills">
  <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
    <% @skills.each do |s| %>
    <div class="box">
      <div>
        <%= link_to skill_path(s) do %>
          <% if s.pictures.any? %>
          <div class="skill-img">
            <%= image_tag (s.pictures.first.image.url(:medium)) %>
          </div>
          <% else %>
          無上傳圖片
          <% end %>
          <h5 class="skill-name"><strong><%= s.name %></strong></h5>
          <span class="time"><%= time_ago_in_words(s.updated_at) %>前更新</span>
          <%= link_to like_skill_path(s), method: :post, class: "btn", id: "like-#{s.id}", remote: true do %>
            <% if current_user && s.like_by_user?(current_user) %>
              <i class="fa fa-heart"><%= s.liked_users.size %></i>
            <% else %>
              <i class="fa fa-heart-o"><%= s.liked_users.size %></i>
            <% end %>
          <% end %>
          <p><%= s.description %></p>
        <% end %>
      </div>
      <hr>
      <div class="skill-box-author">
        <h6>
          <%= link_to profile_path(s.user.profile) do %>
        </h6>
          <% if s.user.profile.photo_updated_at %>
            <%= image_tag (s.user.profile.photo.url), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
          <% else %>
            <% @s = s %>
            <%= image_tag ("http://graph.facebook.com/#{@s.user.fb_uid}/picture?width=999"), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
          <% end %>
          <%= s.user.profile.username %>
        <% end %>
        <p>
          <% if s.user.profile.location %>
            <%= s.user.profile.location.city %>
          <% else %>
            ?地點？
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
    <% if @unfollowed_skills %>
      <% @unfollowed_skills.each do |s| %>
        <div class="box">
          <div>
            <%= link_to skill_path(s) do %>
              <% if s.pictures.any?%>
              <div class="skill-img">
              <%= image_tag (s.pictures.first.image.url(:medium)) %>
              </div>
              <% end %>
              <h5 class="skill-name"><strong><%= s.name %></strong></h5>
              <span class="time"><%= time_ago_in_words(s.updated_at) %>前更新</span>
              <%= link_to like_skill_path(s), method: :post, class: "btn", id: "like-#{s.id}", remote: true do %>
                <% if current_user && s.like_by_user?(current_user) %>
                  <i class="fa fa-heart"><%= s.liked_users.size %></i>
                <% else %>
                  <i class="fa fa-heart-o"><%= s.liked_users.size %></i>
                <% end %>
              <% end %>
              <p><%= s.description %></p>
            <% end %>
          </div>
          <hr>
          <div class="skill-box-author">
            <h6>
              <%= link_to profile_path(s.user.profile) do %>
            </h6>
              <% if s.user.profile.photo_updated_at %>
                <%= image_tag (s.user.profile.photo.url), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
              <% else %>
                <% @s = s %>
                <%= image_tag ("http://graph.facebook.com/#{@s.user.fb_uid}/picture?width=999"), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
              <% end %>
              <%= s.user.profile.username %>
            <% end %>
            <p>
              <% if s.user.profile.location %>
                <%= s.user.profile.location.city %>
              <% else %>
                ?地點？
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
