<%= content_for :head do %>
    <%= tag(:meta, :content => @skill.name, :property => "og:title") %>
    <%= tag(:meta, :content => "#{@skill.user.profile.username},#{@skill.description}", :property => "og:description") %>
    <%= tag(:meta, :content => "article", :property => "og:type") %>
    <%= tag(:meta, :content => skill_url(@skill), :property => "og:url") %>
    <% if @skill.pictures.last %>
      <%= tag(:meta, :content => asset_url(@skill.pictures.last.image.url), :property => "og:image") %>
    <% end %>
<% end %>

<div class="all-skills">
  <div class="container">
    <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
      <div class="box">
        <div class="skill-info">
          <div class="row">
            <div class="col-sm-12">
              <h3><%= @skill.name %></h3>
              <%= link_to like_skill_path(@skill), method: :post, class: "btn", id: "like-#{@skill.id}", remote: true do %>
                <% if current_user && current_user.like_skill?(@skill) %>
                  <i class="fa fa-heart"><%= @skill.liked_users.size %></i>
                <% else %>
                  <i class="fa fa-heart-o"><%= @skill.liked_users.size %></i>
                <% end %>
              <% end %>
              <!-- share button code -->
              <div class="fb-share-button"
                  data-href="<%= skill_url(@skill) %>"
                  data-layout="button_count">
              </div>
              <div class="skill-box-author">
                <h6>
                  <%= link_to profile_path(@skill.user.profile) do %>
                </h6>
                  <% if @skill.user.profile.photo_updated_at %>
                    <%= image_tag (@skill.user.profile.photo.url), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
                  <% else %>
                    <%= image_tag ("http://graph.facebook.com/#{@skill.user.fb_uid}/picture?width=999"), style: "width: 20px; height: 20px; display: inline; border-radius: 100%;" %>
                  <% end %>
                <% end %>
                <p>
                  <% if @skill.user.profile.location %>
                    <%= @skill.user.profile.location.city %>
                  <% else %>
                    ?地點？
                  <% end %>
                </p>
              </div>
              <hr>
              <h4><%= simple_format(@skill.description) %></h4>
              <h5>需自備：<%= simple_format(@skill.requirement) %></h5>
            </div>
          </div>
        </div>
      </div>
      <% if @skill.pictures.last %>
        <% @skill.pictures.each do |p| %>
        <div class="box">
          <div>
            <div class="skill-img">
            <%= link_to image_tag(p.image.url), p.image.url, :rel => "lightbox", data: {lightbox: @skill.name} %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
