<div class="row">
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title"> 公開留言：</h3>
      </div>
      <div class="panel-body">
      <% if @profile.publiccomments.any? %>
          <% @profile.publiccomments.each do |pub|%>
          <div id="publiccomment-<%= pub.id %>">
            <div class="publiccomment-commenter">
              <span class="label">
                <%= link_to profile_path(pub.user.profile) do %>
                  <%= pub.user.profile.username %>
                <% end %>：
              </span>
              <span><%= pub.content %></span>
            </div>
          </div>
          <% end %>
      <% else %>
        <h4>尚無留言</h4>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>回覆：</h4>
    <%= form_for Publiccomment.new, url: profile_publiccomments_path(@profile), remote: true do |f| %>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %>
        </div>

        <%= f.submit "回覆", class: "btn btn-default"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
