<div class="row">
  <div class="col-sm-12" style="margin: 0 auto;">
    <% if public_comments.any? %>
      <% public_comments.each do |pub|%>
        <div class="row public-comment">
          <div class="col-sm-2">
            <%= image_tag (pub.user.profile.photo_url), class: "public-commentor-photo" %>
          </div>
          <div class="col-sm-10">
            <div id="publiccomment-<%= pub.id %>">
              <div class="publiccomment-commenter">
                <h6><strong><%= pub.user.profile.username %></strong></h6>
                <p><%= pub.content %></p>
                <p style="text-align: right;">
                  留言時間：<%= t( time_ago_in_words(pub.created_at) ) %>前
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3>尚無留言</h3>
    <% end %>
    <div class="col-sm-12">
      <%= form_for Publiccomment.new, url: profile_publiccomments_path(@profile), remote: true do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", required: true %>
        </div>
        <%= f.submit "回覆", class: "btn btn-default"%>
      <% end %>
    </div>
  </div>
</div>

