<p id="notice"><%= notice %></p>

<h1>Listing Admin Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.profile.username %></td>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.role %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path %>
