<!DOCTYPE html>
<html>
<head>
  <title>SKILLPARK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag "favicon.png", type: 'image/png'%>
  <%= yield :head %>
</head>
<body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1151609154869107";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" id="nav-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to('SKILLPARK', skills_path, class: "navbar-brand") %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li>
            <% if @q %>
              <%= search_form_for @q, class: "navbar-form" do |f| %>
                <%= f.search_field :name_or_categories_name_cont, placeholder: "搜尋技能或分類名稱", class: "form-control " %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to profile_path(current_user.profile) do %><i class="fa fa-female"></i>我的頁面<% end %>
          </li>
          <li>
            <%= link_to all_favorites_profile_path(current_user.profile) do %>
              <span class="fa fa-archive" aria-hidden="true"></span>收藏
              <% end %>
          </li>
          <li>
            <%= link_to profile_comments_path(current_user.profile) do %>
              <span class="fa fa-comments"></span>訊息
              <% end %>
          </li>
          <li id="nav-dropdown" class="dropdown"
          <% if current_user.profile.created_at == current_user.profile.updated_at %>
          data-toggle="tooltip" data-placement="bottom" title="瀏覽個人頁面跟修改資料！"
          <% end %>
          >
            <a href="#" id="nav-dropdown-a" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= image_tag (current_user.profile.photo.url), style: "width: 20px; height: 20px; display: inline; border-radius: 2px;" %>
                <span class="caret"></span>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu" style="opacity: 0.9;">
              <li>
                <%= link_to edit_profile_url(current_user.profile) do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>修改個人資料
                <% end %>
              </li>
              <% if current_user && current_user.admin? %>
              <li><%= link_to '後台管理頁面', admin_root_path %></li>
              <% end %>
              <li>
                <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
              </li>
            </ul>
          </li>
          <% else %>
          <li>
            <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook) %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="page-wrap" class="container-fluid">
    <div class="row">
      <% if flash[:notice].present? %>
        <div class=" col-sm-12 alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert].present? %>
        <div class="col-sm-12 alert alert-danger" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <footer>
      <p><a href="http://www.skillpark.co">Skillpark</a> by <a href="#">@skillpark</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
  </footer>
</body>
</html>


